@import "variables.less";

.overlay-contents-container {
	height: 100%;
}

.overlay-title {
	margin: 8px;
	font-size: 12pt;
	flex: 0 0 auto;
	align-self: center;
}

.album-chooser {
	background-color: @basebg1;
	margin: 0px 4px 4px 4px;
	padding: 0px;
	border: 2px solid @border0;
	flex: 0 1 100%;
}