/*
Styling for the main part of the app.
*/

.app-container {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.header {
	/* width: 100%; */
	flex: 0 0 auto;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 8px;
}

.app-title {
	font-size: 24pt;
	flex: 0 0 auto;
}

.playlist-organizer-container {
	flex: 0 1 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: #C0C0C0; */
	padding: 4px;
	margin-bottom: -8px; /* counteract button padding to provide a consistent gap */
}
.playlist-left-pane {
	flex: 0 1 100%;
}
.playlist-right-pane {
	flex: 0 1 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
.playlist-right-pane-item {
	flex: 0 1 100%;
}

.playlist-view {
	background-color: #101010;
	margin: 4px;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.footer-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}