@import "variables.less";

.overlay-contents-container {
	height: 100%;
}

.overlay-title {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	margin: 8px;
	font-size: 12pt;
	flex: 0 0 auto;
	align-self: center;
}

.playlist-browser {
	background-color: @basebg1;
	margin: 0px 4px 0px 4px;
	padding: 0px;
	border: 2px solid @border0;
	overflow: scroll;
	flex: 0 1 100%;
}
.playlist-browser table {
	width: 100%;
	
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0px;
}
.playlist-browser tr {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	padding: 0px;
	&:hover {
		background-color: @highlight0;
	}
	td {
		// border: 1px solid @border2;
	}
	.playlist-table-name {
		// flex: 1 0 100%;
		width: 100%; // take up the entire available space
		padding: 8px 8px 8px 4px;
	}
}

.new-playlist-mini-dialog {
	width: 256px;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	padding: 0px;
	overflow: hidden;
	.footer-text-field {
		flex: 1 1 25%;
		width: initial;
		margin: 0px;
	}
	button {
		flex: 0 0 auto;
		// height: 25px;
		align-self: stretch;
		margin: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		border: 1px transparent;
	}
	
	position: relative;
	left: -128px;
	opacity: 0;
	visibility: hidden;
	transition: left 0.5s, opacity 0.5s;
}